.picture{
    width:200px;
    height:200px;
    margin-left:42%;
    text-align:center;
    justify-content:center;
}
body{
    text-align:center;
    justify-content:center;
}
.board{
    text-align:center;
    justify-content:center;
}
.text{
    font-style:italic;
    text-align:center;
    justify-content:center;
}